
header{
    background-color: rgb(255, 255, 255);
    height: 70px;
    position: sticky;
    top: 0px;
    margin: -8px;
    box-shadow: 0px 1px 5px rgb(211, 211, 211);
}
#NSO{
    float: left;
    height: 25px;
    width: 70px;
    margin-top: 22px;
    margin-left: 177px;
}
#foto{
    width: 786px;
    height: 440.150px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 5px;
}
#nieuws{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    float: left;
    font-size: 1.15rem;
    margin-left: 35px;
    margin-top: 24px;
}
#down1{
    margin-top: 34px;
    margin-left: 5px;
    width: 10px;
}
#sport{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    float: left;
    font-size: 1.15rem;
    margin-left: 54px;
    margin-top: -21px;
}
#down2{
    width: 10px;
    margin-bottom: 80px;
    margin-top: -11px;
    margin-left: 5px;
}
#down3{
    width: 10px;
    margin-bottom: 80px;
    margin-top: -11px;
    margin-left: 5px;
}
#uitzendingen{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    float: left;
    font-size: 1.15rem;
    margin-left: 495px;
    margin-top: -100px;
    
}